[Unit]
Description=Dropbox Backup daemon
Wants=network.target

[Service]
Type=simple
ExecStart=/bin/bash "dropbox_backup_pwd/backup.sh --daemon backup_interval"

[Install]
WantedBy=multi-user.target
